<section id="about">
	<div class="inner">
		<div class='myGrid'>
      <% @movies.each do |movie| %>
        <div class="card">
          <img src="https://picsum.photos/210/143" alt="">
          <title><%= movie.name %></title>
          <p><%= movie.year %></p>
          <p><%= movie.description %></p>
          <p><%= link_to("画像", "#{movie.image_url}") %></p>
          <div class="button">
              <button>予約</button>
          </div>
        </div>
      <% end %>
    </div>
	</div>
</section>
<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>