<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>

<% @movies.each do |movie| %>
  <p><%= movie.name %></p>
  <%= link_to image_tag(movie.image_url, alt: "movie tag", width: "200px")%>
<% end %>