<h1>座席表 - <%= @movie.name %> (<%= params[:date] %>)</h1>

<table border="1">
  <% @sheets.group_by(&:row).each do |row, sheets| %>
    <tr>
      <% sheets.each do |sheet| %>
        <td>
          <a href="<%= new_movie_schedule_reservation_path(@movie, @schedule, sheet_id: sheet.id, date: params[:date]) %>">
            <%= "#{row}-#{sheet.column}" %>
          </a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>