
<table>
  <thead>
    <tr>
      <th> 1 </th>
      <th> 2 </th>
      <th> 3 </th>
      <th> 4 </th>
      <th> 5 </th>
    </tr>
  </thead>
  <tbody>
      <tr>
 
      </tr>
  </tbody>
</table>
<%= @sheets.first.column %>
<%= @sheets.last.column %>