<div class="sheet-layout">
  <div class="screen">スクリーン1</div>
  <table class="sheets">
    <thead>
      <tr>
        <th></th>
          <% @columns.each do |column| %>
            <th><%= column %></th>
          <% end %>
      </tr>
    </thead>
    <tbody>
      <% @sheets_by_row.each do |row, sheets| %>
        <tr>
          <td class="label"><%= row.upcase %></td>
          <% @columns.each do |column| %>
            <% sheet = sheets.find { |s| s.column == column } %>
            <td class="sheet">
              <% if sheet %>
                  <%= sheet.id %> <!-- シートのIDなど、必要な情報をここに表示 -->
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>