
<table>
  <thead>
    <tr>
      <th> 1 </th>
      <th> 2 </th>
      <th> 3 </th>
      <th> 4 </th>
      <th> 5 </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <% @sheets.each do |sheet| %>
          
        <% end %>
      </tr>
  </tbody>
</table>