<!DOCTYPE html>
<html>
  <head>
    <title>映画情報の編集</title>
  </head>
  <body>
    <h1>映画情報の編集</h1>
    <%= render "form", submit_text: "更新" %>
    <%= link_to "一覧に戻る", admin_movies_path %>
  </body>
</html>
