<section class='admin'>
  <div class='header'>
    <h1>TechTrain Cinema.</h1>
  </div>
  <div class='leftSidebar'>
    <div class="menu">
      <li><a href="#">Movies</a></li>
      <li><a href="#">Showtime</a></li>
      <li><a href="#">Reservations</a></li>
    </div>
  </div>
  <div class='body'>
    <h2>Movies Create</h2>
    <p>タイトル</p>
    <p>公開年</p>
    <p>上映中</p>
    <p>概要</p>
    <p>画像URL</p>
    Save and close

    <form accept-charset="UTF-8" action="/home/index" method="post">
      <div style="margin:0;padding:0">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
      </div>
      Form contents
    </form>
  </div>
</section>