// Place all the styles related to the admin::movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* admin forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  // @include box_sizing;
}

input {
  height: auto !important;
}

.table_index{
  display: flex;
}

/* amdin,index,schedules */
.index_list{
  display:flex;
  margin-top: 10px;
  border: 0.5px solid;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
}
.index_side_bar{
  width:150px;
}
.side_button{
  width:114px;
  color:black;
}