// Place all the styles related to the admin::movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

/* admin forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  // @include box_sizing;
}

input {
  height: auto !important;
}

.table_index{
  display: flex;
}

