body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.sheet-layout {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.screen {
    background-color: #ddd;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.sheets {
    width: 500px;
    border-collapse: collapse;
    margin: 0 auto;
}

.sheets th, .sheets td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 40px; /* セルの幅を固定 */
}

.sheets .label {
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
}

.sheets .sheet {
    background-color: #e4e4e4;
}

.sheets .sheet:hover {
    background-color: #ccc;
    cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
