<div class="sidebar">
  <div class="sidebar_container">
    <h2 class="sidebar_title">サイドバー</h2>
    <ul class="sidebar_list">
      <%= link_to('映画一覧', admin_movies_path) %>
      <%= link_to('スケジュール一覧', admin_schedules_path) %>
    </ul>
  </div>
</div>