<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "/assets/builds/application.js", "data-turbo-track": "reload", defer: true %>
  </head>
</head>

<body>
  <div class="wrap">
    <div class="page">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>

</html>
